<%= render "layouts/navigation" %>

<h1 class="text-center">Edit Article</h1>
<div class="container mt-5 border border-black bg-secondary-subtle rounded p-5 b">
  <%= render 'layouts/errors' %>

<%=render 'form' %>
</div>