<%= render 'layouts/navigation' %>
<br>
<div class="container bg-dark text-light text-center p-5 bg-image">
  <div class="container p-5">
    <h1 class="display-4">Aplha Blog</h1>
    <hr>
    <p>This is just a text.</p>
    <a href="#" class="btn btn-success">Sign In</a>
  </div>
</div>